body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}
button:hover {
    background-color: rgb(75, 0, 146);
}
label {
    display: block;
    margin: 8px 0;
    text-align: left;
}
input[type="radio"] {
    margin-right: 10px;
}
#blockk {
    margin-bottom: 20px;
}
.cursor{
    cursor: pointer;
}